[Unit]
Description=LinuxGSM UT2004 Server
After=network-online.target opt.mount
Wants=network-online.target opt.mount

[Service]
Type=forking
User=ut2k4server
WorkingDirectory=/opt/ut2k4server
#Assume that the service is running after main process exits with code 0
RemainAfterExit=yes
ExecStart=/opt/ut2k4server/ut2k4server start
ExecStop=/opt/ut2k4server/ut2k4server stop
Restart=no

[Install]
WantedBy=multi-user.target

